nav {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigasi {
  margin-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
.logo {
  flex: 1;
  margin-left: 1rem;
}

.navigasi li {
  list-style: none;
}
.navigasi li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.container {
  position: relative;
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.image img {
  margin-right: 0;
  width: 55rem;
  height: 52rem;
}

.teks {
  margin-top: 4rem;
  top: 5rem;
  font-weight: 500;
}

.started a {
  text-decoration: none;
}

.started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  height: 4rem;
  width: 30rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.top {
  font-size: 5rem;
}
.started img {
  height: 3rem;
  margin-top: 7px;
}
.started a {
  color: #f69b00;
}

.klini {
  color: #083884;
}
.ku {
  color: #77bfbb;
}

.desc {
  width: 55%;
  margin-top: 5rem;
}

.desc p {
  font-size: 1.5rem;
}

.desc p:last-child {
  margin-top: 2rem;
}

@media only screen and (max-width: 720px) {
  .image img {
    display: none;
  }

  .teks {
    font-size: 3rem;
  }
  .navigasi li {
    margin-left: 1rem;
  }
  .navigasi {
    width: 35%;
  }
}
