.foto-user {
  background-color: rgb(117, 117, 117);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-size: cover;
}
.logo {
  margin-bottom: 2rem;
}
.foto-user img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.wave img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;

  z-index: -999;
}

.logo {
  margin-left: 10rem;
}
nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  margin-right: 10rem;
  align-items: flex-start;
  height: 15rem;
  padding: 2rem;
  transition: height 0.5s ease;
  position: relative;
}
.help {
  height: 0;
  width: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.help.show {
  opacity: 1;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  height: 15rem;
  width: 20rem;
  z-index: -99;
  top: 0;
  left: 0;
}
.user .username {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.user .status {
  color: #888888;
}
.foto .data {
  display: flex;
  align-items: center;
}

.foto .data a {
  color: #f7b702;
  text-decoration: none;
}

.activity {
  margin-top: 2.5rem;
  color: #f7b702;
  font-size: 1.2rem;
  display: none;
}

.kelola-akun,
.logout {
  cursor: pointer;
}

.activity.show {
  display: block;
}

.activity div {
  display: flex;
  align-items: center;
}
.activity img,
.foto .data img {
  width: 1.2rem;
  height: 1.2rem;
}
.user .nama {
  margin-right: 2rem;
  color: black;
}
.halo {
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.halo h1 {
  font-size: 4rem;
}
.halo p {
  font-size: 3rem;
}
.fungsi {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  margin-left: 10rem;
  flex-wrap: wrap;
  position: absolute;
}
.fungsi a {
  text-decoration: none;
}
.fungsi .konsultasi {
  height: 25rem;
  width: 15rem;
  background-color: #164886;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .antrian {
  height: 25rem;
  width: 15rem;
  background-color: #0d7286;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .riwayat {
  height: 25rem;
  width: 15rem;
  background-color: #5fb2bd;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .hasil {
  height: 25rem;
  width: 15rem;
  background-color: #f7b702;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
}
.konsultasi img {
  width: 10rem;
  width: 10rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
  box-shadow: black;
}
.konsultasi h1 {
  color: white;
  margin-left: 1.2rem;
}
.konsultasi p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.antrian img {
  width: 10rem;
  width: 10rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
}
.antrian h1 {
  color: white;
  margin-left: 1.2rem;
}
.antrian p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.riwayat img {
  width: 10rem;
  width: 7.7rem;
  margin-top: 3rem;
  margin-left: 3.2rem;
}
.riwayat h1 {
  color: white;
  margin-left: 1.2rem;
}
.riwayat p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.hasil img {
  width: 15rem;
  height: 10rem;
  margin-top: 3rem;
  margin-left: -1.5rem;
}
.hasil h1 {
  color: white;
  margin-left: 1.2rem;
}
.hasil p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.dot img {
  width: 10rem;
  height: 15rem;
  position: absolute;
  top: 5rem;
  right: 45rem;
}

.suster img {
  position: absolute;
  width: 17rem;
  height: 45rem;
  bottom: 0;
  right: 15rem;
  z-index: -9;
}

@media only screen and (max-width: 1110px) {
  body {
    overflow-x: hidden;
  }
  .dot {
    display: none;
  }
  .fungsi {
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .suster img {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .user {
    flex-direction: column;
    margin-right: 5rem;
  }
  .logo {
    margin-left: 2rem;
  }
  .user {
    margin-right: 0rem;
  }
  .halo {
    margin-left: 2rem;
  }
}
