.kelola-akun {
  display: flex;
  align-items: center;
  color: #808080;
  margin-top: 1rem;
}

.kelola-akun img {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.6rem;
}

.logo img {
  margin-left: 5rem;
  margin-top: 4rem;
}
#waveleft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 40%;
  height: 80%;
}
#waveright {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 50%;
  height: 80%;
}
.account {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;

  width: 50rem;
}
.foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo {
  background-color: grey;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-size: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}
.user-info h1,
.user-info p {
  margin-left: 1.5rem;
}
.user-info h1 {
  font-size: 2rem;
  font-weight: 300;
}
.user-info p {
  font-size: 1.5rem;
  font-weight: 100;
}

.photo img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
}
.teks {
  text-align: center;
}
.teks h1 {
  font-size: 7rem;
  font-weight: 500;
}
.teks p {
  font-size: 1.5rem;
  margin-top: -2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fungsi img {
  height: 1.5rem;
  width: 1rem;
}
.daftar,
.riwayat {
  border: 4px solid black;
  padding: 2rem;
  width: 50rem;
  margin: 5rem;
  height: auto;
  position: relative;

  transform-origin: 0 0;
}

.daftar .lain,
.riwayat .lain {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
  color: #0d7286;
  cursor: pointer;
}

.daftar.hidden,
.riwayat.hidden {
  height: 0;
  border: none;
}

.daftar-user.hidden,
.riwayat-user.hidden {
  display: none;
}
.daftar-user,
.riwayat-user {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.daftar span,
.riwayat span {
  background-color: #0d7286;
  height: 50px;
  width: 55rem;
  color: white;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  z-index: 999;

  cursor: pointer;
  transform-origin: center;
}

.daftar span.hidden,
.riwayat span.hidden {
  height: 40px;
}

.daftar h2,
.riwayat h2 {
  color: #0d7286;
}

.daftar h4,
.riwayat h4 {
  color: #9a9a9a;
  font-weight: 500;
}

a {
  text-decoration: none;
}
.kelola {
  color: crimson;
}

@media only screen and (max-width: 780px) {
  .wave {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .daftar span,
  .riwayat span {
    width: 90%;
  }
  .daftar,
  .riwayat {
    width: 40rem;
    margin: 5rem 0;
  }
  .account {
    width: auto;
    margin: 2rem auto;
  }
}
