.foto-user {
  background-color: rgb(117, 117, 117);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.foto-user img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.wave img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;

  z-index: -999;
}

.logo {
  margin-left: 10rem;
}
.flexlogo {
  padding: 2rem 0;
}
.back img {
  transform: rotate(180deg);
  width: 2.5rem;
  height: 2.5rem;
}
.back {
  margin-top: 1rem;
  display: flex;
  margin-left: 9.5rem;
}
.back p {
  margin: auto;
  color: #f7b702;
}
.back a {
  text-decoration: none;
  margin: auto;
  font-size: 1.5rem;
}
nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  margin-right: 10rem;
  align-items: flex-start;
  height: 15rem;
  padding: 2rem;
  transition: height 0.5s ease;
  position: relative;
}
.help {
  height: 0;
  width: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.help.show {
  opacity: 1;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  height: 15rem;
  width: 20rem;
  z-index: -99;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}
.user .username {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.user .status {
  color: #888888;
}
.foto .data {
  display: flex;
  align-items: center;
}
.data {
  cursor: pointer;
}

.foto .data a {
  color: #f7b702;
  text-decoration: none;
}

.activity {
  margin-top: 2.5rem;
  color: #f7b702;
  font-size: 1.2rem;
  display: none;
}

.kelola-akun,
.logout {
  cursor: pointer;
}

.activity.show {
  display: block;
}

.activity div {
  display: flex;
  align-items: center;
}
.activity img,
.foto .data img {
  width: 1.2rem;
  height: 1.2rem;
}
.user .nama {
  margin-top: 1rem;
  margin-right: 2rem;
  color: black;
}

.dot img {
  width: 10rem;
  height: 15rem;
  position: absolute;
  top: 5rem;
  right: 45rem;
}

.container {
  margin-top: -4rem;
  padding-left: 10rem;
}
.dokter img {
  position: absolute;
  bottom: 8rem;
  width: 30rem;
  height: 40rem;
  right: 0rem;
}
.teks {
  font-size: 3.5rem;
}
.teks p {
  font-size: 1.5rem;
}
.teks section h1:nth-child(2) {
  margin-top: -1.5rem;
}
.teks section {
  font-size: 5rem;
  font-weight: 500;
}

h1.small-ver {
  font-size: 5rem;
}
.fungsi {
  height: auto;
  width: 80rem;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
.fungsi .riwayat {
  height: 25rem;
  width: 15rem;
  background-color: #5fb2bd;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.fungsi section {
  cursor: pointer;
}

/* .fungsi.hidden {
  display: none;
} */
.riwayat img {
  width: 10rem;
  width: 7.7rem;
  margin-top: 3rem;
  margin-left: 3.2rem;
}
.riwayat h1 {
  color: white;
  margin-left: 1.2rem;
}

a {
  text-decoration: none;
}
.riwayat p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.detail {
  /* border: 1px solid black; */
  width: 50rem;
}
.detail .tanggal {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.diagnosis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diagnosis h2:first-child {
  color: #0d7286;
  font-size: 1.8rem;
}

.diagnosis p:last-child {
  font-size: 1.8rem;
  background-color: #d4ebe9;
  padding: 0 2.5rem;
  border-radius: 5px;
}

.obat h2:first-child {
  color: #0d7286;
  font-size: 1.8rem;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.list-obat {
  margin-bottom: 1.5rem;
}

.obat .nama {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.obat .nama p:first-of-type {
  background-color: #d4ebe9;
  width: 90%;

  border-radius: 5px;
  margin-right: 1rem;
  min-height: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obat .nama p:last-of-type {
  background-color: #d4ebe9;
  width: 7%;
  text-align: center;
  border-radius: 5px;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obat .aturan {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.obat .aturan p:first-of-type {
  margin-right: 1rem;
  color: #9a9898;
  width: auto;
}
.obat .aturan p:last-of-type {
  width: 83%;
  background-color: #efefef;
  text-align: center;
  min-height: 2rem;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.catatan h2 {
  color: #0d7286;
  font-size: 1.8rem;
}

.catatan p {
  background-color: #efefef;
  width: 100%;
  height: auto;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

@media only screen and (max-width: 1110px) {
  body {
    overflow-x: hidden;
  }
  .dot {
    display: none;
  }

  .dokter img {
    display: none;
  }
  .container {
    margin-top: 2rem;
  }
  .teks h1:nth-child(1),
  .teks h1:nth-child(2) {
    display: none;
  }
  h1.small-ver {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  .user {
    margin-right: 0;
  }
  .logo {
    margin-left: 5rem;
  }
  .dokter {
    display: none;
  }
  .back {
    margin-left: 4rem;
  }
  .container {
    width: 100%;
    padding-left: 0;
  }
  .teks h1:nth-child(1),
  .teks h1:nth-child(2) {
    display: none;
  }
  h1.small-ver {
    display: block;
  }
  .detail {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 900px) {
  .bunga {
    display: none;
  }
  .teks h1:nth-child(1),
  .teks h1:nth-child(2) {
    display: none;
  }
  h1.small-ver {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .dokter img {
    width: 15rem;
    height: 35rem;
  }
}
