.app {
  padding-left: 20rem;
  padding-right: 10rem;
}

.flexlogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 2rem;
  width: 7rem;
}

.back img {
  transform: rotate(180deg);
  width: 2.5rem;
  height: 2.5rem;
}
.back {
  margin-top: 1rem;
  display: flex;
}
.back p {
  margin: auto;
  color: #f7b702;
}
.back a {
  text-decoration: none;
  margin: auto;
  font-size: 1.5rem;
}
nav {
  margin-top: 2rem;
}

.title {
  font-size: 5.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.user {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.info h2 {
  color: #0d7286;
}
.telpon button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 1rem;
  margin-left: 2rem;
}

.teks {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.form {
  width: 70%;
}
.section {
  display: grid;
  grid-template-areas: "label input";
  grid-template-columns: 1fr 2.5fr;
  margin: 5px 0;
  align-items: center;
  justify-content: center;
}
.section .label {
  grid-area: "label";
}
.section .input {
  grid-area: "input";
  border: none;
  outline: none;
  height: 2rem;
  border-radius: 7px;
}

.riwayat.section .input {
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 2rem;
  height: auto;
}

.berat .input,
.tinggi .input {
  width: 5rem;
  background-color: #f1f1f1;
  text-align: center;
}
.berat span,
.tinggi span {
  font-size: 1.3rem;
}

.makan .input,
.alamat .input,
.nama .input,
.pekerjaan .input,
.catatan .input,
.lain .input {
  background-color: #f1f1f1;
  padding: 5px;
}
.riwayat .input input {
  background-color: #f1f1f1;
  padding: 5px;
  border: none;
  outline: none;
  height: 2rem;
  border-radius: 7px;
}

.riwayat .input span .penyakit {
  margin-bottom: 0.5rem;
}
.ttl .input {
  display: flex;
  height: 20px;
  justify-content: flex-start;
}

.ttl .input .ttl-option {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#day {
  width: 50px;
  margin-right: 1rem;
  text-align: center;
}
#bulan {
  width: 100px;
  margin-right: 1rem;
  text-align: center;
}
#tahun {
  width: 50px;
  margin-right: 1rem;
  text-align: center;
}
.diagnosis {
  color: #0d7286;
}
.diagnosis .input {
  background-color: #d4ebe9;
  width: 20rem;
  padding-left: 5px;
}

span.penyakit {
  background-color: #f1f1f1;
  margin-right: 1rem;
  border-radius: 5px;
  height: 100%;
  font-size: 1.4rem;
  padding: 1px 5px;
}

.radio {
  display: flex;
  align-items: center;
}

.radio label {
  margin-right: 2rem;
}

.radio input {
  margin-right: 0.5rem;
}

.btn {
  width: 100%;
  background-color: #2c2c2c;
  border: none;
  outline: none;
  height: 2.5rem;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 3px 0;
  margin-bottom: 20px;
}

.warn {
  margin: 20px 0;
}

@media only screen and (max-width: 550px) {
  .img img {
    display: none;
  }
  nav {
    width: 100%;
  }
  .user {
    margin-right: 10px;
  }
  .logo {
    margin-left: 10px;
  }
  .back {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1230px) {
  .form {
    width: 90%;
  }
  .app {
    padding-left: 10rem;
  }
  .user {
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .form {
    width: 100%;
  }
  .app {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .section {
    grid-template-areas:
      "label"
      "input";
    grid-template-columns: 1fr;
  }
  .label {
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  .user {
    width: 70%;
  }
}
